:root {
    --main-bg-color: #0B0A08;
    --accent-color: #4B4B4B;
}

body {
    background-color: var(--main-bg-color);
    background-size: 20rem;
    background-image: url("../assets/bg.svg");
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.app {
    max-width: 44rem;
    margin: 0 auto;

    @media only screen and (max-width: 745px) {
        margin: 0 1rem;
    }
}

p {
  color: var(--accent-color);
}