.banner {
  background-color: var(--main-bg-color);
  display: flex;
  margin: 0 auto;
  border: 1px solid var(--accent-color);
  border-top: none;
  transition: 1s;

  .world {
    width: 100%;
    background-image: url("../assets/world.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    h1,
    h2 {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 12rem 4rem;
      transition: 1s;
    }
  }

  @media only screen and (max-width: 640px) {
    h1 {
      font-size: x-large;
      transition: 1s;
    }

    .world h2 {
      padding: 6rem 4rem;
    }
  }
}
