.banner {
    background-color: var(--main-bg-color);
    display: flex;
    margin: 0 auto;
    border: 1px solid var(--accent-color);
    border-top: none;

    transition: 1s;

    @media only screen and (max-width: 640px) {
        h1 {
            font-size: x-large;
            transition: 1s;
        }

        .world {
            min-height: 20rem;
        }
    }
    
    .world {
        width: 100%;
        min-height: 30rem;
        background-image: url("../assets/world.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;

        h1, h2 {
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 0 4rem;
            padding-top: 10rem;
            transition: 1s;
        }
    }
}