.blog {
  background-color: var(--main-bg-color);
  border: 1px solid var(--accent-color);
  border-top: none;
  padding: 2rem 4rem;
  transition: 1s;

  img {
    width: 100%;
  }

  @media only screen and (max-width: 640px) {
    padding: 1rem 2rem;
    transition: 1s;

    p {
      font-size: small;
    }
  }
}
