.wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 44rem;
    bottom: 4rem;
    z-index: 1000;

    .navbar {
        padding: 0 4rem;
        display: flex;
        justify-self: center;
        border-radius: 2rem;
        min-height: 4rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 1s;

        background-color: rgba(72, 48, 150, 0.133);
        backdrop-filter: blur(2px) saturate(180%);
        border: 1px solid rgba(50, 50, 50, 0.8);
        box-shadow: 0 8px 32px rgba(60, 60, 60, 0.2),
            inset 0 4px 20px rgba(255, 255, 255, 0.07);

        a {
            justify-content: space-between;
            padding: 10px;
            border-radius: 50%;

            path {
                fill: white;
            }

            &:hover {
                box-shadow: 0 8px 32px rgba(211, 211, 211, 0.2);
                transition: 1s;
            }

            &:active {
                background-color: red;
                transition: 1s;
            }
        }
    }

    @media only screen and (max-width: 745px) {
        width: auto;
        justify-self: center;
        transition: 1s;
    }
}